/* // iss se bydefault joh page ki margin padding ko 0 krskte ha  */
*{
  margin:0;
  padding:0;
}

body {
   text-align:center;
   font-family:Arial , Roboto;
}

.container {
   display:flex;
   justify-content:center;
   align-items:center;
   height:70vh;
}

.game {
   height:60vmin;
   width:60vmin;
   display:flex;
   flex-wrap:wrap;
   gap:1.5vmin;
   justify-content:center;
   align-items:center;
}

.box {
   border-radius: 10px;
   border:none;
   background-color:red;
   height:18vmin;
   width:18vmin;
   color:white;
   font-size:8vmin
}

#resetbutton {
   padding:20px;
   border-radius:20px;
   border:none;
   background-color:red;
   color:white;
   font-size:20px;
}